@import 'partials/_breakpoints';
@import 'partials/_colors';
@import 'partials/_variables';

header {
  padding: 20px 0;
  background-color: $white;
  box-shadow: $boxShadow;
  position: relative;
  margin-bottom: 30px;
}

.header-title {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

.dark-mode-button {
  height: 100%;
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 14px;
  right: 20px;
  float: right;
}

.dark-mode-button-icon {
  margin-right: 5px;
}

@media (min-width: $s) {
  header {
    padding: 10px 0;
  }

  .header-title {
    font-size: 24px;
  }

  .dark-mode-button {
    font-size: 18px;
    padding: 6px;
  }
}
