@import 'partials/_fonts';
@import 'partials/_colors';

label {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  font-weight: 600;
  margin-right: 5px;
}

body {
  background-color: $veryLightGray;
  font-weight: 300;
  margin: 0;
  font-family: $nunitoSans;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}
