<div class="country-card" [routerLink]="['/countries', country.alpha2Code]">
  <div class="country-flag">
    <img class="country-flag-img" [src]="country.flag" />
  </div>
  <div class="country-card-content">
    <h3 class="country-name">{{ country.name }}</h3>
    <div>
      <label>Population:</label>
      <span>{{ country.population | number }}</span>
    </div>
    <div>
      <label>Region:</label>
      <span>{{ country.region }}</span>
    </div>
    <div>
      <label>Capital:</label>
      <span>{{ country.capital }}</span>
    </div>
  </div>
</div>
