@import 'partials/_colors';
@import 'partials/_variables';

.country-card {
  border-radius: 8px;
  background-color: $white;
  max-width: 290px;
  overflow: hidden;
  box-shadow: $boxShadow;
  font-size: $countryListFontSize;
  cursor: pointer;
}

.country-flag {
  height: 200px;
  overflow: hidden;
  padding: 0;
}

.country-flag-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.country-card-content {
  padding: 20px 20px 40px;
  text-align: left;
}

.country-name {
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
