@import 'partials/_breakpoints';

.country-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.country-card-container {
  display: inline-block;
  margin: 15px;
}

@media (min-width: $s) {
  .country-card-container {
    display: inline-block;
    margin: 30px;
  }
}
