<!-- header -->
<app-header></app-header>

<!-- filters -->
<form [formGroup]="countryFilterForm" class="container">
  <!-- country name filter -->
  <div class="country-name-filter">
    <i class="country-name-filter-icon icon-search"></i>
    <input
      class="country-name-input-filter"
      formControlName="countryName"
      placeholder="Search for a country..."
    />
  </div>

  <!-- region filter -->
  <div class="region-filter">
    <ng-select
      class="region-filter-select"
      placeholder="Filter by Region"
      formControlName="region"
      [items]="regionFilterItems"
      [searchable]="false"
    ></ng-select>
  </div>
</form>

<!-- country cards -->
<ul class="country-list container">
  <li class="country-card-container" *ngFor="let country of countryList">
    <app-country-card [country]="country"></app-country-card>
  </li>
</ul>
