@import 'partials/_breakpoints';
@import 'partials/_colors';
@import 'partials/_variables';

.country-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.country-card-container {
  display: inline-block;
  margin: 15px;
}

.country-name-filter {
  position: relative;
  height: 50px;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.country-name-input-filter {
  padding: 15px 20px 15px 60px;
  font-size: $countryDetailsFontSize;
  border: none;
  box-shadow: $boxShadow;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.country-name-filter-icon {
  top: 11px;
  left: 20px;
  position: absolute;
  font-size: 18px;
  color: $darkGray;
}

.region-filter {
  margin-bottom: 40px
}

:host ::ng-deep {
  .ng-select.region-filter-select {
    .ng-select-container {
      height: 48px;
      width: 220px;
      border: none;
      box-shadow: $boxShadow;
      padding-left: 10px;
    }
    .ng-option {
      padding-left: 20px;
    }
    .scroll-host {
      box-shadow: $boxShadow;
    }
  }
}

@media (min-width: $md) {
  .country-name-filter {
    margin-bottom: 0px;
  }

  .country-card-container {
    display: inline-block;
    margin: 30px;
  }

  .region-filter {
    float: right;
    margin-bottom: 0px;
  }
}
